<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<c_settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Settings.xsd">
  <windowWidth>1366</windowWidth>
  <windowHeight>768</windowHeight>
  <cameraMovespeed>10</cameraMovespeed>
  <cameraMaxZoom>20</cameraMaxZoom>
  <language>english</language>
  <debug>true</debug>
  <fullScreen>false</fullScreen>
</c_settings>
