<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<c_settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Settings.xsd">
  <setting name="windowWidth" value="1366"/>
  <setting name="windowHeight" value="768"/>
  <setting name="cameraMovespeed" value="10"/>
  <setting name="cameraMaxZoom" value="20"/>
  <setting name="language" value="english"/>
  <setting name="debug" value="true"/>
  <setting name="fullScreen" value="false"/>
</c_settings>
